# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
EXTERNAL/Emotiv_Epoc_Reverse_Engineering/_BAK
EXTERNAL/Emotiv_Epoc_Reverse_Engineering/bugreport-lineage_walleye-BP1A.250505.005-2025-07-22-20-08-12
EXTERNAL/Emotiv_Epoc_Reverse_Engineering/fluoride
EXTERNAL/Emotiv_Epoc_Reverse_Engineering/bugreport-lineage_walleye-BP1A.250505.005-2025-07-22-20-08-12.zip
EXTERNAL/BUILT/Runner 2025-08-12 12-20-55
flutter_02.png
flutter_01.png
